.MiddlePageSetUp {
  display : flex;
  flex-direction : column;
  align-items : center;
  justify-content : center;
  width : 100%;
  height : 750px;
  border-radius : 30px;
}

.AddingPassword button, input {
  color : black;
  font-size : 20px;
  margin-bottom : 10px;
  width: 300px;
  height: 40px;
  border-radius : 7px;
  padding-left: 15px;
}

